* {
  margin: 0;
  padding: 0;
}

/* Importing Google Font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
#icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icon {
  font-weight: 400;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 50px;
}
/* BANNER */
#hero {
  position: relative;
  width: 100%;
  height: 919px;
  background: linear-gradient(
      0deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url(./assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero .banner-iteam {
  text-align: center;
  width: 1023px;
  height: 393px;
  color: white;
}

#hero .sub-heading {
  margin: 16px 0;
  color: rgb(255, 255, 255);
  font-family: "Work Sans", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  opacity: 0.8;
}

#hero h2 {
  color: rgb(255, 255, 255);
  font-family: "Work Sans", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
}

#hero .text {
  margin: 24px 0;
  opacity: 0.7;
  color: rgb(255, 255, 255);
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

#hero button {
  padding: 21px 32px;
  color: rgb(255, 255, 255);
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  border-radius: 8px;
  background: rgb(82, 195, 3);
  border: none;
}

/* CARD */
#Card {
  /* height: 971px; */
  padding: 167px 300px;
  text-align: center;
}

#Card .sub-heading {
  margin: 16px 0;
  opacity: 0.6;
  color: rgb(16, 16, 16);
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

#Card h2 {
  color: rgb(16, 16, 16);
  font-family: "Work Sans", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  margin: 16px 0;
}

#Card .allcard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px 0;
}

#Card .card-iteam {
  width: 424px;
  height: 525px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 24px;
}

#Card .card-iteam img {
  border-radius: 16px;
  width: 424px;
  height: 283px;
  margin: 32px 0;
}

#Card .card-iteam .sub-heading {
  padding: 14px 32px;
  border-radius: 8px;
  background: rgba(82, 195, 3, 0.15);
}

#Card .card-iteam h4 {
  color: rgb(16, 16, 16);
  font-family: "Work Sans", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 47px;
  margin: 24px 0;
}

#Card .card-iteam .text {
  color: rgb(16, 16, 16);
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.7;
}

#Card button {
  display: block;
  margin: 64px auto;
  padding: 21px 32px;
  color: rgb(255, 255, 255);
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  border: none;
  border-radius: 8px;
  background: rgb(82, 195, 3);
}
/* About Section */
#About {
  display: flex;
  align-items: center;

  background-color: #ffffff;
}

#About .box1 img {
  max-width: 100%;
}

#About .box2 {
  text-align: center;
}

#About .box2 .content {
  padding: 0 40px;
}

#About .box2 .heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin: 20px 0;
  color: #101010;
}

#About .box2 .sub-text {
  opacity: 0.6;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
  color: #101010;
}

#About .box2 .follow {
  width: 100%;
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  color: #101010;
  margin: 0 auto;
  text-align: center;
}

#About #icon {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#About .icon {
  font-size: 24px;
  margin: 0 10px;
  color: #101010;
}

/* CARD */
#card {
  margin: auto;
  text-align: center;
  height: 991px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#card button {
  display: block;
  margin: 64px auto;
  padding: 21px 32px;
  color: rgb(255, 255, 255);
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  border: none;
  border-radius: 8px;
  background: rgb(82, 195, 3);
}
#card .card-iteam {
  width: 424px;
  height: 525px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#card .card-iteam img {
  border-radius: 16px;
  width: 424px;
  height: 283px;
  margin: 32px 0;
}

#card .card-iteam .sub-heading {
  padding: 14px 32px;
  border-radius: 8px;
  background: rgba(82, 195, 3, 0.15);
}

#card .card-iteam h4 {
  color: rgb(16, 16, 16);
  font-family: "Work Sans", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 47px;
  margin: 24px 0;
}

#card .card-iteam .text {
  color: rgb(16, 16, 16);
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.7;
}
/* Footer */
footer {
  background-image: url(./assets/social-bg.png);
  height: 671px;
}
footer .footer-content {
  color: black;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}
footer .footer-content .content {
  width: 810px;
}
footer .heading {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
  margin: 24px 0;
}
footer .sub-text {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.6;
  margin: 24px 0;
}
footer .follow {
  box-sizing: border-box;
  border-bottom: 1px solid rgba(16, 16, 16, 0.2);
  border-top: 1px solid rgba(16, 16, 16, 0.2);
  width: 1320px;
  padding: 30px 10px;
  opacity: 0.7;
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
}
